<html>
    <head>
        <title>Rhythm Maker</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    </head>
    <body>
            <h1>Rhythm Maker</h1>
            <h3><%= yield %></h3>
            <form action="/">
                <button type="submit">
                    Randomise
                </button>
            </form>
    </body>
</html>